.wrapper {
  display: flex;
}

.eevee-block {
  display: inline-block;
  position: relative;
  margin: 80px auto;
  width: 41em;
  height: 41em;
}

.eevee {
  display: block;
  width: 1em;
  height: 1em;
  background-color: #e7eef1;
  box-shadow: 41em 41em #e7eef1,
              1em 0em #e7eef1,
              2em 0em #e7eef1,
              3em 0em #e7eef1,
              4em 0em #e7eef1,
              5em 0em #e7eef1,
              6em 0em #e7eef1,
              7em 0em #e7eef1,
              8em 0em #e7eef1,
              9em 0em #e7eef1,
              10em 0em #e7eef1,
              11em 0em #e7eef1,
              12em 0em #e7eef1,
              13em 0em #e7eef1,
              14em 0em #e7eef1,
              15em 0em #e7eef1,
              16em 0em #e7eef1,
              17em 0em #e7eef1,
              18em 0em #e7eef1,
              19em 0em #e7eef1,
              20em 0em #e7eef1,
              21em 0em #e7eef1,
              22em 0em #e7eef1,
              23em 0em #e7eef1,
              24em 0em #e7eef1,
              25em 0em #e7eef1,
              26em 0em #e7eef1,
              27em 0em #e7eef1,
              28em 0em #e7eef1,
              29em 0em #e7eef1,
              30em 0em #e7eef1,
              31em 0em #e7eef1,
              32em 0em #e7eef1,
              33em 0em #e7eef1,
              34em 0em #e7eef1,
              35em 0em #e7eef1,
              36em 0em #e7eef1,
              37em 0em #e7eef1,
              38em 0em #e7eef1,
              39em 0em #e7eef1,
              40em 0em #e7eef1,
              41em 0em #e7eef1,

              0em 1em #e7eef1,
              1em 1em #e7eef1,
              2em 1em #e7eef1,
              3em 1em #e7eef1,
              4em 1em #e7eef1,
              5em 1em #e7eef1,
              6em 1em #e7eef1,
              7em 1em #e7eef1,
              8em 1em #e7eef1,
              9em 1em #e7eef1,
              10em 1em #e7eef1,
              11em 1em #e7eef1,
              12em 1em #e7eef1,
              13em 1em #e7eef1,
              14em 1em #e7eef1,
              15em 1em #8C473F,
              16em 1em #000,
              17em 1em #000,
              18em 1em #e7eef1,
              19em 1em #e7eef1,
              20em 1em #e7eef1,
              21em 1em #e7eef1,
              22em 1em #e7eef1,
              23em 1em #e7eef1,
              24em 1em #e7eef1,
              25em 1em #e7eef1,
              26em 1em #e7eef1,
              27em 1em #e7eef1,
              28em 1em #e7eef1,
              29em 1em #e7eef1,
              30em 1em #e7eef1,
              31em 1em #e7eef1,
              32em 1em #e7eef1,
              33em 1em #e7eef1,
              34em 1em #e7eef1,
              35em 1em #e7eef1,
              36em 1em #e7eef1,
              37em 1em #e7eef1,
              38em 1em #e7eef1,
              39em 1em #e7eef1,
              40em 1em #e7eef1,
              41em 1em #e7eef1,

              0em 2em #e7eef1,
              1em 2em #e7eef1,
              2em 2em #e7eef1,
              3em 2em #e7eef1,
              4em 2em #e7eef1,
              5em 2em #e7eef1,
              6em 2em #e7eef1,
              7em 2em #e7eef1,
              8em 2em #e7eef1,
              9em 2em #e7eef1,
              10em 2em #e7eef1,
              11em 2em #e7eef1,
              12em 2em #e7eef1,
              13em 2em #8C473F,
              14em 2em #000,
              15em 2em #FFF,
              16em 2em #FFF,
              17em 2em #FFF,
              18em 2em #8C473F,
              19em 2em #e7eef1,
              20em 2em #e7eef1,
              21em 2em #e7eef1,
              22em 2em #e7eef1,
              23em 2em #e7eef1,
              24em 2em #e7eef1,
              25em 2em #e7eef1,
              26em 2em #e7eef1,
              27em 2em #e7eef1,
              28em 2em #e7eef1,
              29em 2em #e7eef1,
              30em 2em #e7eef1,
              31em 2em #e7eef1,
              32em 2em #e7eef1,
              33em 2em #e7eef1,
              34em 2em #e7eef1,
              35em 2em #e7eef1,
              36em 2em #e7eef1,
              37em 2em #e7eef1,
              38em 2em #e7eef1,
              39em 2em #e7eef1,
              40em 2em #e7eef1,
              41em 2em #e7eef1,

              0em 3em #e7eef1,
              1em 3em #e7eef1,
              2em 3em #e7eef1,
              3em 3em #e7eef1,
              4em 3em #e7eef1,
              5em 3em #e7eef1,
              6em 3em #e7eef1,
              7em 3em #e7eef1,
              8em 3em #e7eef1,
              9em 3em #e7eef1,
              10em 3em #e7eef1,
              11em 3em #8C473F,
              12em 3em #000,
              13em 3em #FFF,
              14em 3em #FFF,
              15em 3em #FFF,
              16em 3em #FFF,
              17em 3em #8C473F,
              18em 3em #e7eef1,
              19em 3em #e7eef1,
              20em 3em #e7eef1,
              21em 3em #e7eef1,
              22em 3em #e7eef1,
              23em 3em #e7eef1,
              24em 3em #e7eef1,
              25em 3em #e7eef1,
              26em 3em #e7eef1,
              27em 3em #e7eef1,
              28em 3em #e7eef1,
              29em 3em #e7eef1,
              30em 3em #e7eef1,
              31em 3em #e7eef1,
              32em 3em #e7eef1,
              33em 3em #e7eef1,
              34em 3em #e7eef1,
              35em 3em #000,
              36em 3em #000,
              37em 3em #000,
              38em 3em #e7eef1,
              39em 3em #e7eef1,
              40em 3em #e7eef1,
              41em 3em #e7eef1,

              0em 4em #e7eef1,
              1em 4em #e7eef1,
              2em 4em #e7eef1,
              3em 4em #e7eef1,
              4em 4em #e7eef1,
              5em 4em #e7eef1,
              6em 4em #e7eef1,
              7em 4em #e7eef1,
              8em 4em #e7eef1,
              9em 4em #e7eef1,
              10em 4em #000,
              11em 4em #FFF,
              12em 4em #FFF,
              13em 4em #FFF,
              14em 4em #FFF,
              15em 4em #FFF,
              16em 4em #8C473F,
              17em 4em #e7eef1,
              18em 4em #e7eef1,
              19em 4em #e7eef1,
              20em 4em #e7eef1,
              21em 4em #e7eef1,
              22em 4em #e7eef1,
              23em 4em #e7eef1,
              24em 4em #e7eef1,
              25em 4em #e7eef1,
              26em 4em #e7eef1,
              27em 4em #e7eef1,
              28em 4em #e7eef1,
              29em 4em #e7eef1,
              30em 4em #e7eef1,
              31em 4em #e7eef1,
              32em 4em #e7eef1,
              33em 4em #000,
              34em 4em #000,
              35em 4em #B37D5C,
              36em 4em #B37D5C,
              37em 4em #B37D5C,
              38em 4em #000,
              39em 4em #e7eef1,
              40em 4em #e7eef1,
              41em 4em #e7eef1,

              0em 5em #e7eef1,
              1em 5em #e7eef1,
              2em 5em #e7eef1,
              3em 5em #e7eef1,
              4em 5em #e7eef1,
              5em 5em #e7eef1,
              6em 5em #e7eef1,
              7em 5em #e7eef1,
              8em 5em #e7eef1,
              9em 5em #000,
              10em 5em #FFF,
              11em 5em #FFF,
              12em 5em #FFF,
              13em 5em #FFF,
              14em 5em #FFF,
              15em 5em #FFF,
              16em 5em #000,
              17em 5em #e7eef1,
              18em 5em #e7eef1,
              19em 5em #e7eef1,
              20em 5em #e7eef1,
              21em 5em #e7eef1,
              22em 5em #e7eef1,
              23em 5em #e7eef1,
              24em 5em #e7eef1,
              25em 5em #e7eef1,
              26em 5em #e7eef1,
              27em 5em #e7eef1,
              28em 5em #e7eef1,
              29em 5em #e7eef1,
              30em 5em #e7eef1,
              31em 5em #e7eef1,
              32em 5em #000,
              33em 5em #B47C61,
              34em 5em #B47C61,
              35em 5em #8B483F,
              36em 5em #000,
              37em 5em #8B483F,
              38em 5em #000,
              39em 5em #e7eef1,
              40em 5em #e7eef1,
              41em 5em #e7eef1,

              0em 6em #e7eef1,
              1em 6em #e7eef1,
              2em 6em #e7eef1,
              3em 6em #e7eef1,
              4em 6em #e7eef1,
              5em 6em #e7eef1,
              6em 6em #e7eef1,
              7em 6em #e7eef1,
              8em 6em #000,
              9em 6em #FFF,
              10em 6em #FFF,
              11em 6em #FFF,
              12em 6em #FFF,
              13em 6em #FFF,
              14em 6em #FFF,
              15em 6em #FFF,
              16em 6em #FFF,
              17em 6em #8B483F,
              18em 6em #e7eef1,
              19em 6em #e7eef1,
              20em 6em #e7eef1,
              21em 6em #e7eef1,
              22em 6em #e7eef1,
              23em 6em #e7eef1,
              24em 6em #e7eef1,
              25em 6em #e7eef1,
              26em 6em #e7eef1,
              27em 6em #e7eef1,
              28em 6em #e7eef1,
              29em 6em #e7eef1,
              30em 6em #e7eef1,
              31em 6em #000,
              32em 6em #B47C61,
              33em 6em #B47C61,
              34em 6em #8B483F,
              35em 6em #000,
              36em 6em #000,
              37em 6em #8B483F,
              38em 6em #000,
              39em 6em #e7eef1,
              40em 6em #e7eef1,
              41em 6em #e7eef1,

              0em 7em #e7eef1,
              1em 7em #e7eef1,
              2em 7em #e7eef1,
              3em 7em #e7eef1,
              4em 7em #e7eef1,
              5em 7em #e7eef1,
              6em 7em #e7eef1,
              7em 7em #8B483F,
              8em 7em #B47C61,
              9em 7em #FFF,
              10em 7em #FFF,
              11em 7em #FFF,
              12em 7em #FFF,
              13em 7em #FFF,
              14em 7em #FFF,
              15em 7em #FFF,
              16em 7em #B47C61,
              17em 7em #000,
              18em 7em #e7eef1,
              19em 7em #e7eef1,
              20em 7em #e7eef1,
              21em 7em #e7eef1,
              22em 7em #e7eef1,
              23em 7em #e7eef1,
              24em 7em #e7eef1,
              25em 7em #e7eef1,
              26em 7em #e7eef1,
              27em 7em #e7eef1,
              28em 7em #e7eef1,
              29em 7em #e7eef1,
              30em 7em #000,
              31em 7em #B47C61,
              32em 7em #B47C61,
              33em 7em #8B483F,
              34em 7em #000,
              35em 7em #000,
              36em 7em #000,
              37em 7em #8B483F,
              38em 7em #000,
              39em 7em #e7eef1,
              40em 7em #e7eef1,
              41em 7em #e7eef1,

              0em 8em #e7eef1,
              1em 8em #e7eef1,
              2em 8em #e7eef1,
              3em 8em #e7eef1,
              4em 8em #e7eef1,
              5em 8em #e7eef1,
              6em 8em #e7eef1,
              7em 8em #000,
              8em 8em #FFF,
              9em 8em #B47C61,
              10em 8em #FFF,
              11em 8em #FFF,
              12em 8em #FFF,
              13em 8em #FFF,
              14em 8em #FFF,
              15em 8em #B47C61,
              16em 8em #FFF,
              17em 8em #B47C61,
              18em 8em #000,
              19em 8em #8C483D,
              20em 8em #e7eef1,
              21em 8em #e7eef1,
              22em 8em #e7eef1,
              23em 8em #e7eef1,
              24em 8em #e7eef1,
              25em 8em #e7eef1,
              26em 8em #e7eef1,
              27em 8em #e7eef1,
              28em 8em #e7eef1,
              29em 8em #000,
              30em 8em #B47C61,
              31em 8em #B47C61,
              32em 8em #8B483F,
              33em 8em #000,
              34em 8em #000,
              35em 8em #000,
              36em 8em #000,
              37em 8em #8B483F,
              38em 8em #000,
              39em 8em #e7eef1,
              40em 8em #e7eef1,
              41em 8em #e7eef1,

              0em 9em #e7eef1,
              1em 9em #e7eef1,
              2em 9em #e7eef1,
              3em 9em #e7eef1,
              4em 9em #e7eef1,
              5em 9em #e7eef1,
              6em 9em #8c483d,
              7em 9em #FFF,
              8em 9em #B47C61,
              9em 9em #FFF,
              10em 9em #B47C61,
              11em 9em #FFF,
              12em 9em #B47C61,
              13em 9em #FFF,
              14em 9em #B47C61,
              15em 9em #FFF,
              16em 9em #B47C61,
              17em 9em #B47C61,
              18em 9em #8C483D,
              19em 9em #8C483D,
              20em 9em #000,
              21em 9em #e7eef1,
              22em 9em #e7eef1,
              23em 9em #e7eef1,
              24em 9em #e7eef1,
              25em 9em #e7eef1,
              26em 9em #e7eef1,
              27em 9em #e7eef1,
              28em 9em #e7eef1,
              29em 9em #000,
              30em 9em #B47C61,
              31em 9em #8B483F,
              32em 9em #000,
              33em 9em #000,
              34em 9em #000,
              35em 9em #000,
              36em 9em #000,
              37em 9em #8B483F,
              38em 9em #000,
              39em 9em #e7eef1,
              40em 9em #e7eef1,
              41em 9em #e7eef1,

              0em 10em #e7eef1,
              1em 10em #e7eef1,
              2em 10em #e7eef1,
              3em 10em #e7eef1,
              4em 10em #e7eef1,
              5em 10em #e7eef1,
              6em 10em #000,
              7em 10em #B47C61,
              8em 10em #FFF,
              9em 10em #B47C61,
              10em 10em #FFF,
              11em 10em #B47C61,
              12em 10em #FFF,
              13em 10em #B47C61,
              14em 10em #FFF,
              15em 10em #B47C61,
              16em 10em #FFF,
              17em 10em #B47C61,
              18em 10em #B47C61,
              19em 10em #8C483D,
              20em 10em #8C483D,
              21em 10em #000,
              22em 10em #e7eef1,
              23em 10em #e7eef1,
              24em 10em #e7eef1,
              25em 10em #e7eef1,
              26em 10em #e7eef1,
              27em 10em #e7eef1,
              28em 10em #000,
              29em 10em #B47C61,
              30em 10em #B47C61,
              31em 10em #8B483F,
              32em 10em #000,
              33em 10em #000,
              34em 10em #000,
              35em 10em #000,
              36em 10em #8B483F,
              37em 10em #000,
              38em 10em #e7eef1,
              39em 10em #e7eef1,
              40em 10em #e7eef1,
              41em 10em #e7eef1,

              0em 11em #e7eef1,
              1em 11em #e7eef1,
              2em 11em #e7eef1,
              3em 11em #e7eef1,
              4em 11em #e7eef1,
              5em 11em #8C473F,
              6em 11em #B47C61,
              7em 11em #B47C61,
              8em 11em #B47C61,
              9em 11em #FFF,
              10em 11em #B47C61,
              11em 11em #FFF,
              12em 11em #B47C61,
              13em 11em #FFF,
              14em 11em #B47C61,
              15em 11em #FFF,
              16em 11em #B47C61,
              17em 11em #B47C61,
              18em 11em #8C483D,
              19em 11em #B47C61,
              20em 11em #8C483D,
              21em 11em #8C483D,
              22em 11em #000,
              23em 11em #e7eef1,
              24em 11em #e7eef1,
              25em 11em #e7eef1,
              26em 11em #e7eef1,
              27em 11em #e7eef1,
              28em 11em #000,
              29em 11em #B47C61,
              30em 11em #8B483F,
              31em 11em #000,
              32em 11em #000,
              33em 11em #000,
              34em 11em #000,
              35em 11em #000,
              36em 11em #8B483F,
              37em 11em #000,
              38em 11em #e7eef1,
              39em 11em #e7eef1,
              40em 11em #e7eef1,
              41em 11em #e7eef1,

              0em 12em #e7eef1,
              1em 12em #e7eef1,
              2em 12em #e7eef1,
              3em 12em #e7eef1,
              4em 12em #e7eef1,
              5em 12em #000,
              6em 12em #8C473F,
              7em 12em #B47C61,
              8em 12em #B47C61,
              9em 12em #B47C61,
              10em 12em #B47C61,
              11em 12em #B47C61,
              12em 12em #B47C61,
              13em 12em #B47C61,
              14em 12em #B47C61,
              15em 12em #B47C61,
              16em 12em #B47C61,
              17em 12em #B47C61,
              18em 12em #B47C61,
              19em 12em #8C483D,
              20em 12em #B47C61,
              21em 12em #8C483D,
              22em 12em #000,
              23em 12em #e7eef1,
              24em 12em #e7eef1,
              25em 12em #e7eef1,
              26em 12em #e7eef1,
              27em 12em #000,
              28em 12em #B47C61,
              29em 12em #B47C61,
              30em 12em #8B483F,
              31em 12em #000,
              32em 12em #000,
              33em 12em #000,
              34em 12em #000,
              35em 12em #8B483F,
              36em 12em #000,
              37em 12em #e7eef1,
              38em 12em #e7eef1,
              39em 12em #e7eef1,
              40em 12em #e7eef1,
              41em 12em #e7eef1,

              0em 13em #e7eef1,
              1em 13em #e7eef1,
              2em 13em #e7eef1,
              3em 13em #8C473F,
              4em 13em #000,
              5em 13em #000,
              6em 13em #000,
              7em 13em #000,
              8em 13em #000,
              9em 13em #8C473F,
              10em 13em #B47C61,
              11em 13em #B47C61,
              12em 13em #B47C61,
              13em 13em #B47C61,
              14em 13em #B47C61,
              15em 13em #B47C61,
              16em 13em #B47C61,
              17em 13em #B47C61,
              18em 13em #000,
              19em 13em #B47C61,
              20em 13em #000,
              21em 13em #8C483D,
              22em 13em #8C483D,
              23em 13em #000,
              24em 13em #e7eef1,
              25em 13em #e7eef1,
              26em 13em #e7eef1,
              27em 13em #000,
              28em 13em #B47C61,
              29em 13em #8B483F,
              30em 13em #000,
              31em 13em #000,
              32em 13em #000,
              33em 13em #000,
              34em 13em #000,
              35em 13em #8B483F,
              36em 13em #000,
              37em 13em #e7eef1,
              38em 13em #e7eef1,
              39em 13em #e7eef1,
              40em 13em #e7eef1,
              41em 13em #e7eef1,

              0em 14em #e7eef1,
              1em 14em #8C473F,
              2em 14em #000,
              3em 14em #B47C61,
              4em 14em #B47C61,
              5em 14em #B47C61,
              6em 14em #B47C61,
              7em 14em #B47C61,
              8em 14em #B47C61,
              9em 14em #000,
              10em 14em #000,
              11em 14em #000,
              12em 14em #B47C61,
              13em 14em #B47C61,
              14em 14em #B47C61,
              15em 14em #B47C61,
              16em 14em #B47C61,
              17em 14em #000,
              18em 14em #FFF,
              19em 14em #000,
              20em 14em #FFF,
              21em 14em #000,
              22em 14em #FFF,
              23em 14em #8B483F,
              24em 14em #000,
              25em 14em #000,
              26em 14em #000,
              27em 14em #8B483F,
              28em 14em #B47C61,
              29em 14em #8B483F,
              30em 14em #000,
              31em 14em #000,
              32em 14em #000,
              33em 14em #000,
              34em 14em #8B483F,
              35em 14em #000,
              36em 14em #e7eef1,
              37em 14em #e7eef1,
              38em 14em #e7eef1,
              39em 14em #e7eef1,
              40em 14em #e7eef1,
              41em 14em #e7eef1,

              0em 15em #e7eef1,
              1em 15em #000,
              2em 15em #B47C61,
              3em 15em #B47C61,
              4em 15em #8C473F,
              5em 15em #000,
              6em 15em #000,
              7em 15em #8C473F,
              8em 15em #B47C61,
              9em 15em #B47C61,
              10em 15em #B47C61,
              11em 15em #B47C61,
              12em 15em #000,
              13em 15em #000,
              14em 15em #B47C61,
              15em 15em #B47C61,
              16em 15em #B47C61,
              17em 15em #000,
              18em 15em #B47C61,
              19em 15em #B47C61,
              20em 15em #8C473F,
              21em 15em #B47C61,
              22em 15em #000,
              23em 15em #B47C61,
              24em 15em #B47C61,
              25em 15em #B47C61,
              26em 15em #B47C61,
              27em 15em #B47C61,
              28em 15em #B47C61,
              29em 15em #8B483F,
              30em 15em #000,
              31em 15em #000,
              32em 15em #8B483F,
              33em 15em #8B483F,
              34em 15em #000,
              35em 15em #e7eef1,
              36em 15em #e7eef1,
              37em 15em #e7eef1,
              38em 15em #e7eef1,
              39em 15em #e7eef1,
              40em 15em #e7eef1,
              41em 15em #e7eef1,

              0em 16em #e7eef1,
              1em 16em #e7eef1,
              2em 16em #000,
              3em 16em #8C473F,
              4em 16em #000,
              5em 16em #000,
              6em 16em #000,
              7em 16em #000,
              8em 16em #000,
              9em 16em #000,
              10em 16em #8C473F,
              11em 16em #B47C61,
              12em 16em #B47C61,
              13em 16em #B47C61,
              14em 16em #000,
              15em 16em #000,
              16em 16em #B47C61,
              17em 16em #8C473F,
              18em 16em #8C473F,
              19em 16em #B47C61,
              20em 16em #B47C61,
              21em 16em #B47C61,
              22em 16em #B47C61,
              23em 16em #B47C61,
              24em 16em #B47C61,
              25em 16em #8C473F,
              26em 16em #8C473F,
              27em 16em #8C473F,
              28em 16em #8C473F,
              29em 16em #000,
              30em 16em #8C473F,
              31em 16em #8C473F,
              32em 16em #000,
              33em 16em #000,
              34em 16em #e7eef1,
              35em 16em #e7eef1,
              36em 16em #e7eef1,
              37em 16em #e7eef1,
              38em 16em #e7eef1,
              39em 16em #e7eef1,
              40em 16em #e7eef1,
              41em 16em #e7eef1,

              0em 17em #e7eef1,
              1em 17em #e7eef1,
              2em 17em #8C473F,
              3em 17em #8C473F,
              4em 17em #8C473F,
              5em 17em #000,
              6em 17em #000,
              7em 17em #000,
              8em 17em #000,
              9em 17em #000,
              10em 17em #000,
              11em 17em #000,
              12em 17em #8C473F,
              13em 17em #B47C61,
              14em 17em #B47C61,
              15em 17em #B47C61,
              16em 17em #000,
              17em 17em #000,
              18em 17em #B47C61,
              19em 17em #B47C61,
              20em 17em #B47C61,
              21em 17em #B47C61,
              22em 17em #B47C61,
              23em 17em #B47C61,
              24em 17em #8C473F,
              25em 17em #B47C61,
              26em 17em #B47C61,
              27em 17em #8C473F,
              28em 17em #8C473F,
              29em 17em #8C473F,
              30em 17em #000,
              31em 17em #000,
              32em 17em #e7eef1,
              33em 17em #e7eef1,
              34em 17em #e7eef1,
              35em 17em #e7eef1,
              36em 17em #e7eef1,
              37em 17em #e7eef1,
              38em 17em #e7eef1,
              39em 17em #e7eef1,
              40em 17em #e7eef1,
              41em 17em #e7eef1,

              0em 18em #e7eef1,
              1em 18em #e7eef1,
              2em 18em #e7eef1,
              3em 18em #8C473F,
              4em 18em #000,
              5em 18em #8C473F,
              6em 18em #8C473F,
              7em 18em #000,
              8em 18em #000,
              9em 18em #000,
              10em 18em #000,
              11em 18em #000,
              12em 18em #000,
              13em 18em #8C473F,
              14em 18em #B47C61,
              15em 18em #B47C61,
              16em 18em #000,
              17em 18em #8C473F,
              18em 18em #8C473F,
              19em 18em #B47C61,
              20em 18em #B47C61,
              21em 18em #B47C61,
              22em 18em #B47C61,
              23em 18em #B47C61,
              24em 18em #8C473F,
              25em 18em #B47C61,
              26em 18em #000,
              27em 18em #8C473F,
              28em 18em #8C473F,
              29em 18em #8C473F,
              30em 18em #000,
              31em 18em #e7eef1,
              32em 18em #e7eef1,
              33em 18em #e7eef1,
              34em 18em #e7eef1,
              35em 18em #e7eef1,
              36em 18em #e7eef1,
              37em 18em #e7eef1,
              38em 18em #e7eef1,
              39em 18em #e7eef1,
              40em 18em #e7eef1,
              41em 18em #e7eef1,

              0em 19em #e7eef1,
              1em 19em #e7eef1,
              2em 19em #e7eef1,
              3em 19em #e7eef1,
              4em 19em #8C473F,
              5em 19em #000,
              6em 19em #8C473F,
              7em 19em #8C473F,
              8em 19em #8C473F,
              9em 19em #000,
              10em 19em #000,
              11em 19em #000,
              12em 19em #000,
              13em 19em #000,
              14em 19em #8C473F,
              15em 19em #B47C61,
              16em 19em #000,
              17em 19em #B47C61,
              18em 19em #B47C61,
              19em 19em #8C473F,
              20em 19em #B47C61,
              21em 19em #B47C61,
              22em 19em #B47C61,
              23em 19em #B47C61,
              24em 19em #B47C61,
              25em 19em #000,
              26em 19em #FFF,
              27em 19em #000,
              28em 19em #8C473F,
              29em 19em #8C473F,
              30em 19em #8C473F,
              31em 19em #8C473F,
              32em 19em #e7eef1,
              33em 19em #e7eef1,
              34em 19em #e7eef1,
              35em 19em #e7eef1,
              36em 19em #e7eef1,
              37em 19em #e7eef1,
              38em 19em #e7eef1,
              39em 19em #e7eef1,
              40em 19em #e7eef1,
              41em 19em #e7eef1,

              0em 20em #e7eef1,
              1em 20em #e7eef1,
              2em 20em #e7eef1,
              3em 20em #e7eef1,
              4em 20em #e7eef1,
              5em 20em #e7eef1,
              6em 20em #8C473F,
              7em 20em #000,
              8em 20em #000,
              9em 20em #8C473F,
              10em 20em #8C473F,
              11em 20em #8C473F,
              12em 20em #8C473F,
              13em 20em #8C473F,
              14em 20em #8C473F,
              15em 20em #000,
              16em 20em #B47C61,
              17em 20em #B47C61,
              18em 20em #000,
              19em 20em #B47C61,
              20em 20em #B47C61,
              21em 20em #B47C61,
              22em 20em #B47C61,
              23em 20em #B47C61,
              24em 20em #B47C61,
              25em 20em #000,
              26em 20em #000,
              27em 20em #000,
              28em 20em #8C473F,
              29em 20em #8C473F,
              30em 20em #8C473F,
              31em 20em #000,
              32em 20em #e7eef1,
              33em 20em #e7eef1,
              34em 20em #e7eef1,
              35em 20em #e7eef1,
              36em 20em #e7eef1,
              37em 20em #e7eef1,
              38em 20em #e7eef1,
              39em 20em #e7eef1,
              40em 20em #e7eef1,
              41em 20em #e7eef1,

              0em 21em #e7eef1,
              1em 21em #e7eef1,
              2em 21em #e7eef1,
              3em 21em #e7eef1,
              4em 21em #e7eef1,
              5em 21em #e7eef1,
              6em 21em #e7eef1,
              7em 21em #e7eef1,
              8em 21em #e7eef1,
              9em 21em #000,
              10em 21em #000,
              11em 21em #000,
              12em 21em #000,
              13em 21em #000,
              14em 21em #000,
              15em 21em #000,
              16em 21em #B47C61,
              17em 21em #000,
              18em 21em #FFF,
              19em 21em #000,
              20em 21em #B47C61,
              21em 21em #B47C61,
              22em 21em #B47C61,
              23em 21em #B47C61,
              24em 21em #B47C61,
              25em 21em #8C473F,
              26em 21em #000,
              27em 21em #000,
              28em 21em #8C473F,
              29em 21em #8C473F,
              30em 21em #8C473F,
              31em 21em #000,
              32em 21em #e7eef1,
              33em 21em #e7eef1,
              34em 21em #e7eef1,
              35em 21em #e7eef1,
              36em 21em #e7eef1,
              37em 21em #e7eef1,
              38em 21em #e7eef1,
              39em 21em #e7eef1,
              40em 21em #e7eef1,
              41em 21em #e7eef1,

              0em 22em #e7eef1,
              1em 22em #e7eef1,
              2em 22em #e7eef1,
              3em 22em #e7eef1,
              4em 22em #e7eef1,
              5em 22em #e7eef1,
              6em 22em #e7eef1,
              7em 22em #e7eef1,
              8em 22em #e7eef1,
              9em 22em #e7eef1,
              10em 22em #000,
              11em 22em #B47C61,
              12em 22em #B47C61,
              13em 22em #000,
              14em 22em #FFF,
              15em 22em #000,
              16em 22em #B47C61,
              17em 22em #000,
              18em 22em #000,
              19em 22em #000,
              20em 22em #B47C61,
              21em 22em #B47C61,
              22em 22em #B47C61,
              23em 22em #B47C61,
              24em 22em #B47C61,
              25em 22em #B47C61,
              26em 22em #000,
              27em 22em #000,
              28em 22em #000,
              29em 22em #8C473F,
              30em 22em #8C473F,
              31em 22em #8C473F,
              32em 22em #000,
              33em 22em #e7eef1,
              34em 22em #e7eef1,
              35em 22em #e7eef1,
              36em 22em #e7eef1,
              37em 22em #e7eef1,
              38em 22em #e7eef1,
              39em 22em #e7eef1,
              40em 22em #e7eef1,
              41em 22em #e7eef1,

              0em 23em #e7eef1,
              1em 23em #e7eef1,
              2em 23em #e7eef1,
              3em 23em #e7eef1,
              4em 23em #e7eef1,
              5em 23em #e7eef1,
              6em 23em #e7eef1,
              7em 23em #e7eef1,
              8em 23em #e7eef1,
              9em 23em #8C473F,
              10em 23em #B47C61,
              11em 23em #B47C61,
              12em 23em #8C473F,
              13em 23em #FFF,
              14em 23em #FFF,
              15em 23em #000,
              16em 23em #B47C61,
              17em 23em #8C473F,
              18em 23em #000,
              19em 23em #000,
              20em 23em #8C473F,
              21em 23em #B47C61,
              22em 23em #B47C61,
              23em 23em #B47C61,
              24em 23em #B47C61,
              25em 23em #B47C61,
              26em 23em #8C473F,
              27em 23em #000,
              28em 23em #8C473F,
              29em 23em #8C473F,
              30em 23em #8C473F,
              31em 23em #8C473F,
              32em 23em #000,
              33em 23em #000,
              34em 23em #000,
              35em 23em #e7eef1,
              36em 23em #e7eef1,
              37em 23em #e7eef1,
              38em 23em #e7eef1,
              39em 23em #e7eef1,
              40em 23em #e7eef1,
              41em 23em #e7eef1,

              0em 24em #e7eef1,
              1em 24em #e7eef1,
              2em 24em #e7eef1,
              3em 24em #e7eef1,
              4em 24em #e7eef1,
              5em 24em #e7eef1,
              6em 24em #e7eef1,
              7em 24em #e7eef1,
              8em 24em #e7eef1,
              9em 24em #000,
              10em 24em #B47C61,
              11em 24em #B47C61,
              12em 24em #000,
              13em 24em #FFF,
              14em 24em #FFF,
              15em 24em #FFF,
              16em 24em #000,
              17em 24em #B47C61,
              18em 24em #000,
              19em 24em #000,
              20em 24em #000,
              21em 24em #B47C61,
              22em 24em #000,
              23em 24em #8C473F,
              24em 24em #B47C61,
              25em 24em #B47C61,
              26em 24em #B47C61,
              27em 24em #B47C61,
              28em 24em #8C473F,
              29em 24em #8C473F,
              30em 24em #8C473F,
              31em 24em #8C473F,
              32em 24em #000,
              33em 24em #B47C61,
              34em 24em #B47C61,
              35em 24em #000,
              36em 24em #e7eef1,
              37em 24em #e7eef1,
              38em 24em #e7eef1,
              39em 24em #e7eef1,
              40em 24em #e7eef1,
              41em 24em #e7eef1,

              0em 25em #e7eef1,
              1em 25em #e7eef1,
              2em 25em #e7eef1,
              3em 25em #e7eef1,
              4em 25em #e7eef1,
              5em 25em #e7eef1,
              6em 25em #e7eef1,
              7em 25em #e7eef1,
              8em 25em #8C473F,
              9em 25em #B47C61,
              10em 25em #B47C61,
              11em 25em #8C473F,
              12em 25em #FFF,
              13em 25em #FFF,
              14em 25em #8C473F,
              15em 25em #000,
              16em 25em #000,
              17em 25em #B47C61,
              18em 25em #8C473F,
              19em 25em #000,
              20em 25em #8C473F,
              21em 25em #B47C61,
              22em 25em #B47C61,
              23em 25em #B47C61,
              24em 25em #B47C61,
              25em 25em #000,
              26em 25em #B47C61,
              27em 25em #8C473F,
              28em 25em #8C473F,
              29em 25em #8C473F,
              30em 25em #8C473F,
              31em 25em #000,
              32em 25em #B47C61,
              33em 25em #B47C61,
              34em 25em #B47C61,
              35em 25em #000,
              36em 25em #e7eef1,
              37em 25em #e7eef1,
              38em 25em #e7eef1,
              39em 25em #e7eef1,
              40em 25em #e7eef1,
              41em 25em #e7eef1,

              0em 26em #e7eef1,
              1em 26em #e7eef1,
              2em 26em #e7eef1,
              3em 26em #e7eef1,
              4em 26em #e7eef1,
              5em 26em #e7eef1,
              6em 26em #e7eef1,
              7em 26em #e7eef1,
              8em 26em #000,
              9em 26em #B47C61,
              10em 26em #B47C61,
              11em 26em #000,
              12em 26em #FFF,
              13em 26em #8C473F,
              14em 26em #FFF,
              15em 26em #FFF,
              16em 26em #000,
              17em 26em #B47C61,
              18em 26em #B47C61,
              19em 26em #B47C61,
              20em 26em #B47C61,
              21em 26em #B47C61,
              22em 26em #8C473F,
              23em 26em #000,
              24em 26em #000,
              25em 26em #8C473F,
              26em 26em #8C473F,
              27em 26em #8C473F,
              28em 26em #8C473F,
              29em 26em #8C473F,
              30em 26em #8C473F,
              31em 26em #000,
              32em 26em #B47C61,
              33em 26em #B47C61,
              34em 26em #FFF,
              35em 26em #B47C61,
              36em 26em #000,
              37em 26em #e7eef1,
              38em 26em #e7eef1,
              39em 26em #e7eef1,
              40em 26em #e7eef1,
              41em 26em #e7eef1,

              0em 27em #e7eef1,
              1em 27em #e7eef1,
              2em 27em #e7eef1,
              3em 27em #e7eef1,
              4em 27em #e7eef1,
              5em 27em #e7eef1,
              6em 27em #e7eef1,
              7em 27em #e7eef1,
              8em 27em #000,
              9em 27em #B47C61,
              10em 27em #B47C61,
              11em 27em #000,
              12em 27em #FFF,
              13em 27em #FFF,
              14em 27em #FFF,
              15em 27em #FFF,
              16em 27em #8C473F,
              17em 27em #8C473F,
              18em 27em #B47C61,
              19em 27em #B47C61,
              20em 27em #B47C61,
              21em 27em #B47C61,
              22em 27em #B47C61,
              23em 27em #8C473F,
              24em 27em #8C473F,
              25em 27em #8C473F,
              26em 27em #8C473F,
              27em 27em #8C473F,
              28em 27em #8C473F,
              29em 27em #8C473F,
              30em 27em #000,
              31em 27em #B47C61,
              32em 27em #B47C61,
              33em 27em #FFF,
              34em 27em #B47C61,
              35em 27em #FFF,
              36em 27em #000,
              37em 27em #e7eef1,
              38em 27em #e7eef1,
              39em 27em #e7eef1,
              40em 27em #e7eef1,
              41em 27em #e7eef1,

              0em 28em #e7eef1,
              1em 28em #e7eef1,
              2em 28em #e7eef1,
              3em 28em #e7eef1,
              4em 28em #e7eef1,
              5em 28em #e7eef1,
              6em 28em #e7eef1,
              7em 28em #e7eef1,
              8em 28em #000,
              9em 28em #B47C61,
              10em 28em #B47C61,
              11em 28em #000,
              12em 28em #FFF,
              13em 28em #FFF,
              14em 28em #FFF,
              15em 28em #B47C61,
              16em 28em #FFF,
              17em 28em #FFF,
              18em 28em #8C473F,
              19em 28em #B47C61,
              20em 28em #B47C61,
              21em 28em #8C473F,
              22em 28em #8C473F,
              23em 28em #8C473F,
              24em 28em #8C473F,
              25em 28em #8C473F,
              26em 28em #8C473F,
              27em 28em #8C473F,
              28em 28em #000,
              29em 28em #000,
              30em 28em #B47C61,
              31em 28em #B47C61,
              32em 28em #B47C61,
              33em 28em #B47C61,
              34em 28em #FFF,
              35em 28em #B47C61,
              36em 28em #000,
              37em 28em #e7eef1,
              38em 28em #e7eef1,
              39em 28em #e7eef1,
              40em 28em #e7eef1,
              41em 28em #e7eef1,

              0em 29em #e7eef1,
              1em 29em #e7eef1,
              2em 29em #e7eef1,
              3em 29em #e7eef1,
              4em 29em #e7eef1,
              5em 29em #e7eef1,
              6em 29em #e7eef1,
              7em 29em #8C473F,
              8em 29em #8C473F,
              9em 29em #B47C61,
              10em 29em #B47C61,
              11em 29em #8C473F,
              12em 29em #000,
              13em 29em #FFF,
              14em 29em #B47C61,
              15em 29em #FFF,
              16em 29em #8C473F,
              17em 29em #FFF,
              18em 29em #8C473F,
              19em 29em #000,
              20em 29em #000,
              21em 29em #8C473F,
              22em 29em #8C473F,
              23em 29em #8C473F,
              24em 29em #8C473F,
              25em 29em #8C473F,
              26em 29em #000,
              27em 29em #000,
              28em 29em #B47C61,
              29em 29em #B47C61,
              30em 29em #8C473F,
              31em 29em #FFF,
              32em 29em #B47C61,
              33em 29em #FFF,
              34em 29em #B47C61,
              35em 29em #FFF,
              36em 29em #000,
              37em 29em #e7eef1,
              38em 29em #e7eef1,
              39em 29em #e7eef1,
              40em 29em #e7eef1,
              41em 29em #e7eef1,

              0em 30em #e7eef1,
              1em 30em #e7eef1,
              2em 30em #e7eef1,
              3em 30em #e7eef1,
              4em 30em #e7eef1,
              5em 30em #e7eef1,
              6em 30em #e7eef1,
              7em 30em #000,
              8em 30em #8C473F,
              9em 30em #000,
              10em 30em #B47C61,
              11em 30em #B47C61,
              12em 30em #000,
              13em 30em #B47C61,
              14em 30em #FFF,
              15em 30em #8C473F,
              16em 30em #FFF,
              17em 30em #FFF,
              18em 30em #B47C61,
              19em 30em #B47C61,
              20em 30em #8C473F,
              21em 30em #000,
              22em 30em #000,
              23em 30em #000,
              24em 30em #000,
              25em 30em #8C473F,
              26em 30em #B47C61,
              27em 30em #B47C61,
              28em 30em #B47C61,
              29em 30em #B47C61,
              30em 30em #B47C61,
              31em 30em #8C473F,
              32em 30em #FFF,
              33em 30em #B47C61,
              34em 30em #FFF,
              35em 30em #000,
              36em 30em #e7eef1,
              37em 30em #e7eef1,
              38em 30em #e7eef1,
              39em 30em #e7eef1,
              40em 30em #e7eef1,
              41em 30em #e7eef1,

              0em 31em #e7eef1,
              1em 31em #e7eef1,
              2em 31em #e7eef1,
              3em 31em #e7eef1,
              4em 31em #e7eef1,
              5em 31em #e7eef1,
              6em 31em #e7eef1,
              7em 31em #000,
              8em 31em #8C473F,
              9em 31em #8C473F,
              10em 31em #8C473F,
              11em 31em #B47C61,
              12em 31em #8C473F,
              13em 31em #000,
              14em 31em #B47C61,
              15em 31em #000,
              16em 31em #FFF,
              17em 31em #8C473F,
              18em 31em #000,
              19em 31em #000,
              20em 31em #FFF,
              21em 31em #B47C61,
              22em 31em #FFF,
              23em 31em #FFF,
              24em 31em #FFF,
              25em 31em #FFF,
              26em 31em #FFF,
              27em 31em #B47C61,
              28em 31em #FFF,
              29em 31em #B47C61,
              30em 31em #B47C61,
              31em 31em #8C473F,
              32em 31em #B47C61,
              33em 31em #FFF,
              34em 31em #FFF,
              35em 31em #000,
              36em 31em #e7eef1,
              37em 31em #e7eef1,
              38em 31em #e7eef1,
              39em 31em #e7eef1,
              40em 31em #e7eef1,
              41em 31em #e7eef1,

              0em 32em #e7eef1,
              1em 32em #e7eef1,
              2em 32em #e7eef1,
              3em 32em #e7eef1,
              4em 32em #e7eef1,
              5em 32em #e7eef1,
              6em 32em #e7eef1,
              7em 32em #000,
              8em 32em #8C473F,
              9em 32em #8C473F,
              10em 32em #8C473F,
              11em 32em #8C473F,
              12em 32em #8C473F,
              13em 32em #000,
              14em 32em #000,
              15em 32em #FFF,
              16em 32em #000,
              17em 32em #B47C61,
              18em 32em #B47C61,
              19em 32em #B47C61,
              20em 32em #000,
              21em 32em #FFF,
              22em 32em #FFF,
              23em 32em #FFF,
              24em 32em #FFF,
              25em 32em #FFF,
              26em 32em #FFF,
              27em 32em #FFF,
              28em 32em #B47C61,
              29em 32em #B47C61,
              30em 32em #B47C61,
              31em 32em #000,
              32em 32em #FFF,
              33em 32em #FFF,
              34em 32em #000,
              35em 32em #8C473F,
              36em 32em #8C473F,
              37em 32em #e7eef1,
              38em 32em #e7eef1,
              39em 32em #e7eef1,
              40em 32em #e7eef1,
              41em 32em #e7eef1,

              0em 33em #e7eef1,
              1em 33em #e7eef1,
              2em 33em #e7eef1,
              3em 33em #e7eef1,
              4em 33em #e7eef1,
              5em 33em #e7eef1,
              6em 33em #e7eef1,
              7em 33em #000,
              8em 33em #8C473F,
              9em 33em #8C473F,
              10em 33em #8C473F,
              11em 33em #8C473F,
              12em 33em #000,
              13em 33em #e7eef1,
              14em 33em #e7eef1,
              15em 33em #000,
              16em 33em #000,
              17em 33em #B47C61,
              18em 33em #B47C61,
              19em 33em #B47C61,
              20em 33em #8C473F,
              21em 33em #000,
              22em 33em #FFF,
              23em 33em #FFF,
              24em 33em #FFF,
              25em 33em #FFF,
              26em 33em #FFF,
              27em 33em #B47C61,
              28em 33em #FFF,
              29em 33em #B47C61,
              30em 33em #8C473F,
              31em 33em #FFF,
              32em 33em #000,
              33em 33em #000,
              34em 33em #B47C61,
              35em 33em #B47C61,
              36em 33em #000,
              37em 33em #e7eef1,
              38em 33em #e7eef1,
              39em 33em #e7eef1,
              40em 33em #e7eef1,
              41em 33em #e7eef1,

              0em 34em #e7eef1,
              1em 34em #e7eef1,
              2em 34em #e7eef1,
              3em 34em #e7eef1,
              4em 34em #e7eef1,
              5em 34em #e7eef1,
              6em 34em #e7eef1,
              7em 34em #000,
              8em 34em #B47C61,
              9em 34em #B47C61,
              10em 34em #B47C61,
              11em 34em #8C473F,
              12em 34em #000,
              13em 34em #e7eef1,
              14em 34em #e7eef1,
              15em 34em #e7eef1,
              16em 34em #000,
              17em 34em #B47C61,
              18em 34em #B47C61,
              19em 34em #B47C61,
              20em 34em #B47C61,
              21em 34em #000,
              22em 34em #000,
              23em 34em #000,
              24em 34em #FFF,
              25em 34em #FFF,
              26em 34em #FFF,
              27em 34em #FFF,
              28em 34em #FFF,
              29em 34em #B47C61,
              30em 34em #000,
              31em 34em #000,
              32em 34em #8C473F,
              33em 34em #B47C61,
              34em 34em #B47C61,
              35em 34em #B47C61,
              36em 34em #000,
              37em 34em #e7eef1,
              38em 34em #e7eef1,
              39em 34em #e7eef1,
              40em 34em #e7eef1,
              41em 34em #e7eef1,

              0em 35em #e7eef1,
              1em 35em #e7eef1,
              2em 35em #e7eef1,
              3em 35em #e7eef1,
              4em 35em #e7eef1,
              5em 35em #e7eef1,
              6em 35em #e7eef1,
              7em 35em #000,
              8em 35em #B47C61,
              9em 35em #B47C61,
              10em 35em #B47C61,
              11em 35em #B47C61,
              12em 35em #8C473F,
              13em 35em #000,
              14em 35em #e7eef1,
              15em 35em #e7eef1,
              16em 35em #000,
              17em 35em #B47C61,
              18em 35em #B47C61,
              19em 35em #B47C61,
              20em 35em #B47C61,
              21em 35em #8C473F,
              22em 35em #000,
              23em 35em #e7eef1,
              24em 35em #8C473F,
              25em 35em #000,
              26em 35em #FFF,
              27em 35em #FFF,
              28em 35em #B47C61,
              29em 35em #000,
              30em 35em #000,
              31em 35em #8C473F,
              32em 35em #8C473F,
              33em 35em #B47C61,
              34em 35em #B47C61,
              35em 35em #B47C61,
              36em 35em #B47C61,
              37em 35em #000,
              38em 35em #e7eef1,
              39em 35em #e7eef1,
              40em 35em #e7eef1,
              41em 35em #e7eef1,

              0em 36em #e7eef1,
              1em 36em #e7eef1,
              2em 36em #e7eef1,
              3em 36em #e7eef1,
              4em 36em #e7eef1,
              5em 36em #e7eef1,
              6em 36em #e7eef1,
              7em 36em #8C473F,
              8em 36em #B47C61,
              9em 36em #FFF,
              10em 36em #B47C61,
              11em 36em #FFF,
              12em 36em #8C473F,
              13em 36em #000,
              14em 36em #e7eef1,
              15em 36em #e7eef1,
              16em 36em #e7eef1,
              17em 36em #000,
              18em 36em #B47C61,
              19em 36em #B47C61,
              20em 36em #B47C61,
              21em 36em #B47C61,
              22em 36em #8C473F,
              23em 36em #e7eef1,
              24em 36em #e7eef1,
              25em 36em #e7eef1,
              26em 36em #8C473F,
              27em 36em #8C473F,
              28em 36em #B47C61,
              29em 36em #000,
              30em 36em #e7eef1,
              31em 36em #000,
              32em 36em #8C473F,
              33em 36em #8C473F,
              34em 36em #B47C61,
              35em 36em #B47C61,
              36em 36em #B47C61,
              37em 36em #000,
              38em 36em #e7eef1,
              39em 36em #e7eef1,
              40em 36em #e7eef1,
              41em 36em #e7eef1,

              0em 37em #e7eef1,
              1em 37em #e7eef1,
              2em 37em #e7eef1,
              3em 37em #e7eef1,
              4em 37em #e7eef1,
              5em 37em #e7eef1,
              6em 37em #e7eef1,
              7em 37em #e7eef1,
              8em 37em #8C473F,
              9em 37em #000,
              10em 37em #000,
              11em 37em #000,
              12em 37em #8C473F,
              13em 37em #e7eef1,
              14em 37em #e7eef1,
              15em 37em #e7eef1,
              16em 37em #e7eef1,
              17em 37em #8C473F,
              18em 37em #FFF,
              19em 37em #B47C61,
              20em 37em #FFF,
              21em 37em #000,
              22em 37em #e7eef1,
              23em 37em #e7eef1,
              24em 37em #e7eef1,
              25em 37em #e7eef1,
              26em 37em #e7eef1,
              27em 37em #e7eef1,
              28em 37em #000,
              29em 37em #e7eef1,
              30em 37em #e7eef1,
              31em 37em #000,
              32em 37em #8C473F,
              33em 37em #8C473F,
              34em 37em #8C473F,
              35em 37em #B47C61,
              36em 37em #B47C61,
              37em 37em #000,
              38em 37em #e7eef1,
              39em 37em #e7eef1,
              40em 37em #e7eef1,
              41em 37em #e7eef1,

              0em 38em #e7eef1,
              1em 38em #e7eef1,
              2em 38em #e7eef1,
              3em 38em #e7eef1,
              4em 38em #e7eef1,
              5em 38em #e7eef1,
              6em 38em #e7eef1,
              7em 38em #e7eef1,
              8em 38em #e7eef1,
              9em 38em #e7eef1,
              10em 38em #e7eef1,
              11em 38em #e7eef1,
              12em 38em #e7eef1,
              13em 38em #e7eef1,
              14em 38em #e7eef1,
              15em 38em #e7eef1,
              16em 38em #e7eef1,
              17em 38em #e7eef1,
              18em 38em #8C473F,
              19em 38em #000,
              20em 38em #000,
              21em 38em #e7eef1,
              22em 38em #e7eef1,
              23em 38em #e7eef1,
              24em 38em #e7eef1,
              25em 38em #e7eef1,
              26em 38em #e7eef1,
              27em 38em #e7eef1,
              28em 38em #e7eef1,
              29em 38em #e7eef1,
              30em 38em #e7eef1,
              31em 38em #e7eef1,
              32em 38em #000,
              33em 38em #000,
              34em 38em #FFF,
              35em 38em #B47C61,
              36em 38em #FFF,
              37em 38em #000,
              38em 38em #e7eef1,
              39em 38em #e7eef1,
              40em 38em #e7eef1,
              41em 38em #e7eef1,

              0em 39em #e7eef1,
              1em 39em #e7eef1,
              2em 39em #e7eef1,
              3em 39em #e7eef1,
              4em 39em #e7eef1,
              5em 39em #e7eef1,
              6em 39em #e7eef1,
              7em 39em #e7eef1,
              8em 39em #e7eef1,
              9em 39em #e7eef1,
              10em 39em #e7eef1,
              11em 39em #e7eef1,
              12em 39em #e7eef1,
              13em 39em #e7eef1,
              14em 39em #e7eef1,
              15em 39em #e7eef1,
              16em 39em #e7eef1,
              17em 39em #e7eef1,
              18em 39em #e7eef1,
              19em 39em #e7eef1,
              20em 39em #e7eef1,
              21em 39em #e7eef1,
              22em 39em #e7eef1,
              23em 39em #e7eef1,
              24em 39em #e7eef1,
              25em 39em #e7eef1,
              26em 39em #e7eef1,
              27em 39em #e7eef1,
              28em 39em #e7eef1,
              29em 39em #e7eef1,
              30em 39em #e7eef1,
              31em 39em #e7eef1,
              32em 39em #e7eef1,
              33em 39em #e7eef1,
              34em 39em #000,
              35em 39em #000,
              36em 39em #000,
              37em 39em #e7eef1,
              38em 39em #e7eef1,
              39em 39em #e7eef1,
              40em 39em #e7eef1,
              41em 39em #e7eef1,

              0em 40em #e7eef1,
              1em 40em #e7eef1,
              2em 40em #e7eef1,
              3em 40em #e7eef1,
              4em 40em #e7eef1,
              5em 40em #e7eef1,
              6em 40em #e7eef1,
              7em 40em #e7eef1,
              8em 40em #e7eef1,
              9em 40em #e7eef1,
              10em 40em #e7eef1,
              11em 40em #e7eef1,
              12em 40em #e7eef1,
              13em 40em #e7eef1,
              14em 40em #e7eef1,
              15em 40em #e7eef1,
              16em 40em #e7eef1,
              17em 40em #e7eef1,
              18em 40em #e7eef1,
              19em 40em #e7eef1,
              20em 40em #e7eef1,
              21em 40em #e7eef1,
              22em 40em #e7eef1,
              23em 40em #e7eef1,
              24em 40em #e7eef1,
              25em 40em #e7eef1,
              26em 40em #e7eef1,
              27em 40em #e7eef1,
              28em 40em #e7eef1,
              29em 40em #e7eef1,
              30em 40em #e7eef1,
              31em 40em #e7eef1,
              32em 40em #e7eef1,
              33em 40em #e7eef1,
              34em 40em #e7eef1,
              35em 40em #e7eef1,
              36em 40em #e7eef1,
              37em 40em #e7eef1,
              38em 40em #e7eef1,
              39em 40em #e7eef1,
              40em 40em #e7eef1,
              41em 40em #e7eef1,

              0em 41em #e7eef1,
              1em 41em #e7eef1,
              2em 41em #e7eef1,
              3em 41em #e7eef1,
              4em 41em #e7eef1,
              5em 41em #e7eef1,
              6em 41em #e7eef1,
              7em 41em #e7eef1,
              8em 41em #e7eef1,
              9em 41em #e7eef1,
              10em 41em #e7eef1,
              11em 41em #e7eef1,
              12em 41em #e7eef1,
              13em 41em #e7eef1,
              14em 41em #e7eef1,
              15em 41em #e7eef1,
              16em 41em #e7eef1,
              17em 41em #e7eef1,
              18em 41em #e7eef1,
              19em 41em #e7eef1,
              20em 41em #e7eef1,
              21em 41em #e7eef1,
              22em 41em #e7eef1,
              23em 41em #e7eef1,
              24em 41em #e7eef1,
              25em 41em #e7eef1,
              26em 41em #e7eef1,
              27em 41em #e7eef1,
              28em 41em #e7eef1,
              29em 41em #e7eef1,
              30em 41em #e7eef1,
              31em 41em #e7eef1,
              32em 41em #e7eef1,
              33em 41em #e7eef1,
              34em 41em #e7eef1,
              35em 41em #e7eef1,
              36em 41em #e7eef1,
              37em 41em #e7eef1,
              38em 41em #e7eef1,
              39em 41em #e7eef1,
              40em 41em #e7eef1,
              41em 41em #e7eef1;
          }
